html {
  background: url("https://source.unsplash.com/1600x900/daily?weather,sky,nature")
    no-repeat center center fixed;
  background-color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

i {
  color: #FCA311; 
}